

body {
    /*color: red*/
}

div[data-visibility=true] {
    color: red
}

div[data-visibility=false] {
    color: green
}

div[data-visibility=null] {
    color: blue
}

#portal_header, #portal_footer {
    background-color: aqua;
}